@font_family_1: 'Droid Serif';
@font_family_2: 'Yanone Kaffeesatz';
@font_family_3: 'Ubuntu Mono';

body {
    font-family: @font_family_1;
}
h1 {
    font-family: @font_family_2;
    font-weight: normal;
}
h2 {
    font-family: @font_family_2;
    font-weight: normal;
}
h3 {
    font-family: @font_family_2;
    font-weight: normal;
}
.remark-code {
    font-family: @font_family_3;
}
.remark-inline-code {
    font-family: @font_family_3;
}

#h-slides-wrapper {
    height: 300px;
    width: 300px;
}

#h-editor-wrapper {
    height: 300px;
    width: 300px;
}
