<!DOCTYPE html>
<html>
  <head>
    <title>Hast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photon/0.1.2-alpha/css/photon.min.css">
    <link rel="stylesheet" href="./client/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
  </head>
  <body>
    <div id="app" class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar docs-menu">
            <ul class="list-group">
              <li class="list-group-header">
                <input class="form-control" type="text" placeholder="Search for someone" v-model="searchStr" v-on:keyup="FilterSearchResult">
              </li>

              <li class="list-group-item" v-for="doc in allDocs" v-bind:class="{active: doc.highlight_current}" @click="SetCurrentDocAndReload(doc._id)">
                <div class="media-body">
                  <strong>{{ doc.title }}</strong>
                  <p class="small-font">Opened {{ doc.time_ago }}</p>
                </div>
              </li>

              <li class="list-group-item">
                <div class="media-body">
                  <div class="center-text new-page-button-wrapper" @click="CreateDoc">
                    <span class="icon icon-plus-squared"></span>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="pane">
            <div id="h-editor-wrapper"></div>
          </div>
          <div class="pane" v-bind:class="{'full-screen-mode': fullScreenMode}">
            <div id="h-slides-wrapper"></div>
          </div>
          <div id="full-screen-btn-wrapper" @click="ToggleFullScreenMode">
            <span class="icon icon-resize-full" v-if="!fullScreenMode"></span>
            <span class="icon icon-resize-small" v-if="fullScreenMode"></span>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
        <h1 class="title"></h1>
      </footer>
    </div>

    <script src="./client/index.js"></script>
  </body>
</html>
